.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--background);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  width: 100%;
  gap: .5rem;

  &:hover {
    cursor: pointer;
    background-color: var(--secondary);
  }
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;

  span {
    font-size: 1rem;
    font-weight: 300;
    color: var(--muted-foreground);
  }

  svg {
    color: var(--muted-foreground);
  }
}

.income {
  &:hover {
    color: var(--primary);
    
    svg {
      color: var(--primary);
    }
  }

}

.expense {
  &:hover {
    color: var(--destructive);
  }

  svg {
      color: var(--destructive);
    }
}

.balance {
  &:hover {
    background-color: var(--primary);
    color: white;

    span {
      color: var(--muted);
    }

    p {
      color: var(--muted);
    }

    svg {
      color: var(--muted);
    }
  }
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer {
  display: flex;
  width: 100%;

  p {
    font-size: 0.7rem;
    color: var(--muted-foreground);
    text-align: left;
  }
}
