.categoriesContainer {
  display: "flex";
  flex-direction: "column";
  gap: 1rem;
  /* padding: 1rem; */
  background-color: var(--background);
  border-radius: var(--radius);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border: 1px solid var(--border);
  cursor: pointer;
  overflow: auto;
  height: 100%;
}

.category {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border-radius: var(--radius);
  background-color: var(--background);

  &:hover {
    background-color: var(--secondary);
  }

  &:first-child {
    background-color: var(--foreground);
    color: var(--muted);
    transition: background-color 0.2s ease-in-out;
    
    span {
      color: var(--muted);
    }

    &:hover {
      /* background-color: var(--destructive); */
      filter: brightness(0.9);
    }
  }


  div {
    display: flex;
    gap: 0.75rem;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  span {
    font-size: 1rem;
    font-weight: 300;
    color: var(--foreground);
  }
}
